body
{	
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	background:#333;
	background-image: url("../imagenes/city.jpg");
}

article, aside, details, figcaption, figure, footer, header, nav, hgroup, section { display: block; }

#main
{
	
}

.wrapper
{
    width: 80%;
    margin: auto;
    box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    background: rgba(51,51,51,0.4);
}

#slide
{
	
}

.fixed {
    position:fixed;
    margin-top:0px;
    top: 0;
    left:0;
    width: 79%;
    margin-left: 10.5%;
    z-index: 3000;
}

.fixed ul{
	margin: 0px auto;
}

nav{
	width: 100%;
	background-color: #333;
	display: inline-block;
	margin-bottom: 1px;
}

nav ul {
	margin: auto;
}

nav ul li{
	display: inline-block;
	color: #CCC;
	padding: 8px 20px 8px 20px;
	transition: all 0.5s linear;
	list-style: none;
	border-right: 1px solid #555;
}
nav ul li:hover{
	color: #333;
	background-color: #9C0;
}

nav ul a{
	text-decoration: none;
	font-weight: bold;
}

#seleccionado{
	color: #333;
	background-color: #99CC00;
}

@media screen and (max-width:820px)
{
	nav ul li
	{	
		display: inline-block;
		color: #CCC;
		padding: 4px 5px 4px 5px;
		transition: all 0.5s linear;
		list-style: none;
		border-right: 1px solid #555;
	}
}
/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- HEADER  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */
#contenedorHeader
{
	width: 100%;
	display: inline-block;
	border-bottom: 5px solid #222;
}
.panelHeader
{
	width: 48%;
	float: left;
}

#logo{
	margin-top: 10px;
	margin-left: 10px;
}

#logoStart{
	margin-top: 10px;
	margin-left: 10px;
	animation: animacionLogo 2s;
	-webkit-animation: animacionLogo 2s;
}

@keyframes animacionLogo
{
	0% {opacity: 1; transform: rotateY(360deg);}
}

@-webkit-keyframes animacionLogo
{
	0% {opacity: 1;-webkit-transform: rotateY(360deg);}
}

.itemSocialMedia{
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
}

.itemSocialMedia img{
	border-radius: 10px;
}

.itemSocialMedia:hover{
	animation:mymove 0.5s infinite;
	-webkit-animation:mymove 0.5s infinite; /* Safari and Chrome */
}

@keyframes mymove
{
0%   {top:0px;}
25%  {top:200px;}
75%  {top:50px}
100% {top:100px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0%   {transform:rotate(-25deg);-webkit-transform:rotate(-25deg);}
25%  {transform:rotate(25deg);-webkit-transform:rotate(25deg);}
75%  {transform:rotate(25deg);-webkit-transform:rotate(25deg);}
100% {transform:rotate(-25deg);-webkit-transform:rotate(-25deg);}
}

.itemSocialMedia img{
	width: 100%;
	height: 100%;
}

@media screen and (max-width:820px)
{
	.panelHeader
	{
		width: 100%;
	}
	
	#logo
	{
		width: 250px;
		margin: auto;	
	}
	
	#slide
	{
		display: none;
	}
	
	#productosYServicios aside
	{
		display: none;
	}
	
	#productosYServicios article
	{
		float: none;
		width: 80%;
		margin: auto;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - PRODUCTOS ----------- --------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#productosYServicios{
	width: 100%;
	display: inline-block;
}

#productosYServicios article {
	float: left;
	width: 30%;
	background-color: rgba(51,51,51,0.8);
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#productosYServicios  h1{
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}


#productosYServicios article #panel .item
{
	display: inline-block;
	width: 90%;
	color: #DDD;
	margin: 5px 10px 5px 10px;
	border-radius: 5px;
	background: #222;
	padding: 5px;
}

#productosYServicios article #panel .item:hover
{
	color: #222;
	background: #CCC;
	
}

#productosYServicios article #panel .item .itemImagen
{
	float:left;
	width: 30px;
	height: 30px;
}

#productosYServicios article #panel .item .itemNombre
{
	float:left;
	margin-left: 10px;
	padding: 7px;
}

#productosYServicios  aside{
	float: right;
	width: 30%;
	background-color: rgba(51,51,51,0.8);
}

#productosYServicios  aside h1{
	text-align: center;
	margin:0 auto;
	color: #333;
	background-color: #9c0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}	

@media screen and (max-width:820px)
{
	#productosYServicios aside
	{
		display: none;
	}
	
	#productosYServicios article
	{
		float: none;
		width: 90%;
		margin: 10px auto 10px auto;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - TRABAJOS REALIZADOS ----------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#trabajosRealizados{
	display: inline-block;
	width: 100%;
}

#trabajosRealizados article{
	margin-top: 15px; 
}

#trabajosRealizados article h1{
	padding: 5px 0px 5px 30px;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}

#trabajosRealizados #items{
	width: 90%;
	margin: auto;
}

#trabajosRealizados article .itemTrabajosRealizados{
	width: 130px;
	height: 130px;
	border: 2px solid #FFFFFF;
	float: left;
	margin-left: 5px;
	margin-bottom:  5px;
	border-radius: 5px;
}

@media screen and (max-width:820px)
{
	#trabajosRealizados #items
	{
	width: 90%;
	margin: auto;
	}
	
	#trabajosRealizados article .itemTrabajosRealizados
	{
		width: 60px;
		height: 60px;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - NUESTROS CLIENTES --------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#nuestrosClientes #items{
	width: 90%;
	margin: auto;
}

#nuestrosClientes{
	display: inline-block;
	width: 100%;
}

#nuestrosClientes article{
	margin-top: 15px; 
}

#nuestrosClientes article h1{
	padding: 5px 0px 5px 30px;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}

#nuestrosClientes article .itemNuestrosClientes{
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

#nuestrosClientes article .itemNuestrosClientes:hover
{
	opacity: 0.8;
}

@media screen and (max-width:820px)
{
	#nuestrosClientes article .itemNuestrosClientes
	{
	width: 60px;
	height: 60px;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- SERVICIOS  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#servicios{
	width: 100%;
	display: inline-block;
	margin: 20px auto 20px auto;
}

#servicios article{
	width: 60%;
	margin: auto;
	padding: 20px;
	background-color: rgba(51,51,51,0.9);
	margin-bottom: 20px;
	border-radius:5px; 
}

#servicios article hgroup h1{
	color:#CCCCCC;
	border-bottom: 5px solid #9c0;
}

#servicios article footer a p: hover{
	color: #99CC00;
}

#servicios #informacion #imagenInformacion{
	
	width: 100px;
	height: 100px;
	border: 5px solid #222;
	float: left;
	position: absolute;
}

#servicios #informacion #textoInformacion{
	color:#CCCCCC;
	width: 80%;
	margin-left: 120px;
	text-align: justify;
	height: 120px;
	overflow: hidden;
	line-height: 1.5;
}

#servicios article section #imagenes
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	background: #222;
	border-radius: 5px;
	padding: 5px;
} 

#servicios article section #imagenes .itemImagenes{
	width: 60px;
	height: 60px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}

#servicios article footer #verMas{
	text-align: right;
}

#servicios article footer #verMas a{
	color:#CCC;
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	background: #222;
	border-radius:5px; 
}

#servicios article footer #verMas a:hover{
	color: #222;
	background: #9C0;
}

@media screen and (max-width:820px)
{
	#servicios article
	{
		width:80%;
		margin: 10px auto 10px auto;
	}
	
	#servicios #informacion #imagenInformacion
	{
		width: 80px;
		height: 80px;
		margin: auto;
		float: none;
		position: relative;
	}
	
	#servicios #informacion #textoInformacion
	{
		width: 100%;
		margin:10px auto 10px 0px;
	}
	
	#servicios article section #imagenes
	{
		display: none;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- PRODUCTOS  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#productos{
	width: 100%;
	display: inline-block;
	margin: 20px auto 20px auto;
}

#productos article{
	width: 40%;
	padding: 20px;
	background-color: rgba(51,51,51,0.9);
	margin-left:20px;
	margin-bottom: 20px;
	float: left;
	border-radius: 5px;
}

#productos article hgroup h1{
	color:#CCCCCC;
	border-bottom: 5px solid #9c0;
}

#productos article footer a p: hover{
	color: #99CC00;
}

#productos #informacion #imagenInformacion{
	width: 100px;
	height: 100px;
	border: 5px solid #222;
	float: left;
	position: absolute;
}

#productos #informacion #textoInformacion{
	color:#CCCCCC;
	width: 65%;
	margin-left: 140px;
	text-align: justify;
	height: 120px;
	overflow: hidden;
	line-height: 1.5;
}

#productos article section #imagenes{
	width: 100%;
	background: #222;
	margin-top:10px;
	margin-bottom: 10px;
	display: inline-block;
	border-radius:5px;
	padding: 5px; 
}

#productos article section #imagenes .itemImagenes{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}

#productos article footer #verMas{
	text-align: right;
}

#productos article footer #verMas a{
	color:#CCCCCC;
	text-decoration: none;
	background: #222;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
}

#productos article footer #verMas a:hover
{
	color: #333;
	background: #99CC00;
}

@media screen and (max-width:820px)
{
	#productos article
	{
		width: 80%;
		margin: 10px auto 10px auto;
		float: none;
	}
	
	#productos #informacion #imagenInformacion
	{
		width: 80px;
		height: 80px;
		margin: auto;
		float:none;
		position: relative;
	}
	
	#productos #informacion #textoInformacion
	{
		width:100%;
		margin: 10px auto 10px 0px;
	}
	
	#productos article section #imagenes
	{
		display: none;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -----------------------------------------INFORMACION PRODUCTOS  --------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#infoProducto{
	width: 100%;
	display: inline-block;
	margin: 20px auto 20px auto;
}

#infoProducto article{
	width: 60%;
	margin: auto;
	background-color: rgba(51,51,51,0.9);
	padding: 20px;
	border-radius:5px;
}

#infoProducto article h1{
	padding: 10px;
	text-align: center;
	color: #CCC;
	border-bottom: 5px solid #9C0;
}


#infoProducto article .imagenProducto
{
	float: left;
	width: 120px;
	height: 120px;
	position: absolute;
	border: 5px solid #222;
}

#infoProducto article .textoProducto
{
	margin-left: 150px;
	width:70%;
	color: #CCCCCC;
	padding: auto 10px auto 10px;
	text-align: justify;
	height: 120px;
}



#infoProducto article #imagenes{
	width: 100%;
	background: #222;
	margin-top:20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius:5px;
	padding: 5px; 
}

#infoProducto article #imagenes .itemImagenes{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}

@media screen and (max-width:820px)
{
	#infoProducto article .imagenProducto
	{
		position:relative;
		float: none;
		margin: auto;
	}
	
	#infoProducto article .textoProducto
	{
		float: none;
		width:80%;
		margin: 10px auto 10px auto;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -----------------------------------------INFORMACION SERVICIOS  --------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */
#infoServicio{
	width: 100%;
	display: inline-block;
	margin: 20px auto 20px auto;
}

#infoServicio article{
	width: 60%;
	margin: auto;
	background-color: rgba(51,51,51,0.9);
	padding: 20px;
	border-radius:5px; 
}

#infoServicio article h1{
	padding: 10px;
	text-align: center;
	color: #CCC;
	border-bottom: 5px solid #9C0;
}

#infoServicio article .imagenServicio
{
	float: left;
	width: 120px;
	height: 120px;
	position: absolute;
	border:5px solid #222;
}

#infoServicio article .textoServicio
{
	margin-left: 150px;
	width:70%;
	color: #CCCCCC;
	padding: auto 10px auto 10px;
	text-align: justify;
	height: 120px;
}

#infoServicio article #imagenes{
	width: 100%;
	background: #222;
	margin-top:20px;
	margin-bottom: 20px;
	display: inline-block;
	border-radius:5px;
	padding: 5px; 
}

#infoServicio article #imagenes .itemImagenes{
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
}

@media screen and (max-width:820px)
{
	#infoServicio article .imagenServicio
	{
		position:relative;
		float: none;
		margin: auto;
	}
	
	#infoServicio article .textoServicio
	{
		float: none;
		width:80%;
		margin: 10px auto 10px auto;
	}
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- LOGIN - ADMINISTRADOR  -------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#login{
	width: 100%;
	display: inline-block;
}

#login article{
	width: 70%;
	margin: 70px auto 70px auto;
	background-color: rgba(51,51,51,0.8);
	padding: 10px;
	
}
#login article header h1{
	color: #99CC00;
	font-weight: bold;	
	text-align: center;
	padding: 20px;
	font-size: 15;
}

.etiqueta
{
   float: left;
   width: 25%;
   margin: 5px;
   color: #CCCCCC; 
   display: block;
   padding: 15px 5px 5px 30px;
   font-size: 15;
}

.componente{
   float: left;
   width: 60%;
   margin: 5px;
   display: block;
}

.textfield
{
	font-size: 15;
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 5px;
    background: #DDD;
    color: #333;
}

.textField:focus
{
   box-shadow: 0px 1px 5px #9c0  inset;
   -webkit-box-shadow: 0px 1px 5px #9c0  inset;
   -moz-box-shadow: 4px 4px 5px #9c0  inset;
   outline: 0 none;
}

.textArea
{
   display: block;
   border: 1px solid #DEDEDE;
   border-radius: 5px;
   width: 100%;
   padding: 5px;
   color: #333;
}

.textArea:focus
{
   box-shadow: 0px 1px 5px #0CF  inset;
   -webkit-box-shadow: 0px 1px 5px #0CF inset;
   -moz-box-shadow: 4px 4px 5px #0CF  inset;
   outline: 0 none;
}

input[type="submit"]
{
 	clear: both;   
    margin: 20px auto 20px auto;
    padding: 10px 40px 10px 40px;
    background-color: #0099ff;
    background-image: -webkit-linear-gradient(#6c0,#9c0);
    background-image: -moz-linear-gradient(#6c0,#9c0);
    background-image: linear-gradient(#6c0,#9c0);
    -moz-box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    -webkit-box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    color: #222222;
    font-weight: bold;
    font-size: 15;
    cursor: pointer;
    border:0;
    border-radius: 5px;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- PERFIL - ADMINISTRADOR  ------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */


#administrador{
	width: 100%;
	display: inline-block;
}

#administrador article{
	width: 40%;
	float: left;
	margin: 20px 20px 20px 30px;
	padding: 20px;
	background-color: rgba(51,51,51,0.8);
	border-radius: 5px;
}

#administrador article header h2{
	color: #99CC00;
	text-align: center;
}

#bienvenido {
	width: 100%;
	display: inline-block;
}

#bienvenido h1{
	color: #CCC;
	text-align: center;
	border-bottom: 5px solid #9C0;
}

@media screen and (max-width:820px)
{
	#administrador article
	{
		width: 80%;
	}
}


/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- AGREGAR USUARIO - ADMINISTRADOR  ------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#gestionar {
	width: 100%;
	display: inline-block;
}

#gestionar article{
	width: 90%;
	margin: 20px auto 20px auto;
	background-color: rgba(51,51,51,0.8);
}

#gestionar article header h2{
	color:#99CC00;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 20px;
}

#gestionar article section{
	width: 100%;
	display: inline-block;
}

#gestionar article #formulario_agregar_usuario{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_trabajo{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_producto{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_servicio{
	width: 90%;
	margin: auto;
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------EMPRESA---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#empresa
{
	display: inline-block;
	width: 100%;
	margin: 20px auto 20px auto;
}

#empresa aside
{
	float: left;
	width: 25%;
	padding:20px;
	background-color: rgba(51,51,51,0.9); 
}

#empresa aside li
{
	background:#222;
	list-style: none;
	color: #CCC;
	padding: 5px 0px 5px 10px;
	margin-bottom: 5px;
	border-radius:5px;
}

#empresa aside h1
{
	margin-top: 0px;
	color: #DDD;
	border-bottom: 5px solid #9C0;
	border-radius:5px;
}

#empresa aside li:hover
{
	background: #9C0;
	color: #333;
}

#empresa article
{
	float: right;
	width: 60%;
	padding:20px;
	margin-bottom: 20px;
	background-color: rgba(51,51,51,0.9); 
}

#empresa article h1
{
	margin-top: 0px;
	color: #DDD;
	border-bottom: 5px solid #9C0;
	border-radius:5px;
}

#empresa article p
{
	color: #CCC;
	text-align: justify;
	line-height: 1.5;
}


@media screen and (max-width:820px)
{
	#empresa aside
	{
		float: none;
		width: 80%;
		margin:auto;
	}
	
	#empresa article
	{
		float: none;
		width: 80%;
		margin: 10px auto;
	}
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * ----------------------------------------------------FORMULARIO CONTACTO-----------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#contacto
{
	width: 100%;
	display: inline-block;
}

#contacto article
{
	float:left;
	width: 60%;
	background-color: rgba(51,51,51,0.8);
	margin: 10px auto 10px auto;
	padding: 10px;
}

#contacto article  #map{
	width: 80%;
	margin: auto;
}

#contacto article  #map iframe
{	
	width: 100%;
	height: 300px;
	border-radius: 5px;
}

#contacto article  #streetView
{	
	width: 100%;
	float: right;
	text-align: center;
	margin-bottom: 20px;
}

#contacto article  #streetView a{
	padding: 2px 15px 2px 15px;
	color:#99CC00;
	text-decoration: none;
	font-size: 23;
}

#contacto article  #streetView a:hover
{
	background: #99CC00;
	color: #333;
}

#contacto article h1
{
	color:#9C0;
	text-align: center;
}

#contacto aside
{
	float:right;
	width: 30%;
	background-color: rgba(51,51,51,0.8);
	margin: 10px auto 10px auto;
	padding: 10px;
}

#contacto aside #infoContacto img
{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#contacto aside #infoContacto p
{
	color: #CCCCCC;
}

@media screen and (max-width:820px)
{
	#contacto article
	{
		float:none;
		width: 80%;
		margin: 10px auto 10px auto;
	}
	
	.etiqueta
	{
   		float: none;
   		width: 100%;
	}

	.componente
	{
   		float: none;
   		width: 100%;
	}
	
	#contacto aside
	{
		display: none;
	}
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------FOOTER---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#contenedorFooter
{
	width: 100%;
	background-color: rgba(51,51,51,0.9); 
	display: inline-block;
}

.panelFooter
{
	width: 30%;
	float: left;
}

.itemPanelFooter
{
	width: 90%;
	margin: auto;
}

.itemPanelFooter h3
{
	color: #CCC;
}

.itemPanelFooter h3:hover
{
	color: #9C0;
}

.itemPanelFooter p
{
	color: #CCC;
}

.itemPanelFooter  .imgItemPanelFoter 
{
	float:left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.itemPanelFooter .enlace 
{
	text-decoration: none;
}

.itemPanelFooter  .enlace .textItemPanelFooter:hover
{
	color: #9c0;
}

.itemPanelFooter  .textItemPanelFooter 
{
	color: #CCC;
}

.itemPanelFooter  .imgItemPanelFoter img
{
	width: 100%;
}

#subFooter
{
	width: 100%;
	background: #333;
	margin-top:5px;
	display: inline-block;
}

.itemSubFooter
{
	width: 48%;
	float: left;
	padding: 5px 10px 5px 10px;
}

.itemSubFooter p
{
	color: #CCC;
}

.itemSubFooter #logoSubFooter
{
	float:right;
	width: 200px;
}

@media screen and (max-width:820px)
{
	#panelFooterServiciosHide
	{
		display: none;
	}
	
	#panelFooterNosotrosHide
	{
		display: none;
	}
	
	.panelFooter
	{
		float: none;
		width: 90%;
		margin:auto;
		text-align: center;
	}
	
	.itemSubFooter
	{
		width: 80%;
		float: none;
		margin:auto;
		padding: 5px 10px 5px 10px;
	}
	
	.itemSubFooter p
	{
		text-align: center;
	}
	
	.itemSubFooter #logoSubFooter
	{
		float: none;
		width: 200px;
		margin:auto,
	}
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------Perfil---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#administrador article #funciones
{
	width: 100%;
	display: inline-block;
}

#administrador article .funcion
{
	float: left;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	opacity: 0.7;
}

#administrador article .funcion:hover
{
	opacity: 1;
}

/*
 * ----------------------------------------------------------------------------------------------------------------------------------
 * -------------------------------------------------------------LISTAR---------------------------------------------------------------
 * ----------------------------------------------------------------------------------------------------------------------------------
 */

#listar
{
	display: inline-block;
	width: 100%;
	margin: 30px auto 30px auto;
}

#listar article
{
	width: 80%;
	margin: auto;
	background: rgba(51,51,51,0.8);
	padding: 20px;
}

#listar article h1
{
	color: #9C0;
	text-align: center;
}

#listar article table thead th
{
	color: #222;
	background-color: rgba(255,255,255,0.5);
	border-radius: 5px;
}

#listar article table td a{
	text-decoration: none;
	color: #9c0;
}

#listar article table tr td
{
	text-align: justify;
	background:#222;
	color: #CCC;
	padding: 10px;
	border-radius: 5px;
	font-size: 12px;
	line-height: 1.5;
	
}

.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { 
	width: 100% !important; 
}
