body{
	
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: url("../imagenes/city.jpg");
	
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

#main
{
	
}

.wrapper
{
    width: 80%;
    margin:auto;
    box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
    
}

.fixed {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav{
	width: 100%;
	background-color: #333;
	display: inline-block;
	margin-top:2px;
	margin-bottom: 2px;
}

nav ul {
	
	margin: auto;
}

nav ul li{
	
	display: inline-block;
	
	color: #CCC;
	padding: 5px 15px 5px 15px;
	transition: all 0.5s linear;
	list-style: none;
}
nav ul li:hover{
	color: #000000;
	background-color: #9c0;
}

nav ul a{
	text-decoration: none;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- HEADER  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */
#contenedorHeader{
	width: 100%;
}
.panelHeader{
	width: 48%;
	float: left;
	
}

#logo{
	margin-top: 10px;
	margin-left: 10px;
}

.itemSocialMedia{
	float: right;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-top: 10px;
}

.itemSocialMedia img{
	border-radius: 10px;
}

.itemSocialMedia:hover{
	animation:mymove 0.5s infinite;
	-webkit-animation:mymove 0.5s infinite; /* Safari and Chrome */
}

@keyframes mymove
{
0%   {top:0px;}
25%  {top:200px;}
75%  {top:50px}
100% {top:100px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0%   {transform:rotate(-25deg);-webkit-transform:rotate(-25deg);}
25%  {transform:rotate(25deg);-webkit-transform:rotate(25deg);}
75%  {transform:rotate(25deg);-webkit-transform:rotate(25deg);}
100% {transform:rotate(-25deg);-webkit-transform:rotate(-25deg);}
}

.itemSocialMedia img{
	width: 100%;
	height: 100%;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - PRODUCTOS Y SERVICIOS --------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#productosYServicios{
	display: inline-block;
	width: 100%;
}

#productosYServicios  article {
	background-color: rgba(51,51,51,0.8);
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

#productosYServicios  article h1{
	margin:0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}


#productosYServicios  article a{
	text-decoration: none;
}

#productosYServicios  article li{
	color: #DDD;
	list-style: none;
	margin-top: 5px;
	padding-left: 10px;
	border-radius: 5px;
}

#productosYServicios  article li:hover{
	background-color: #99CC00;
	color: #000000;
}

#productosYServicios  aside{
	float: right;
	background-color: rgba(51,51,51,0.8);
	width: 38%;
	
}

#productosYServicios  aside h1
{
	
	text-align: center;
	margin:0 auto;
	color: #333;
	background-color: #9c0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}	

#productosYServicios aside li
{
	color: #DDD;
	list-style: none;
	margin-top: 5px;
	padding-left: 10px;
	border-radius: 5px;
}


/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - TRABAJOS REALIZADOS ----------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#trabajosRealizados #items{
	width: 90%;
	margin: auto;
}

#trabajosRealizados{
	display: inline-block;
	width: 100%;
}

#trabajosRealizados article{
	margin-top: 15px; 
}

#trabajosRealizados article h1{
	
	padding: 5px 0px 5px 30px;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}

#trabajosRealizados article .itemTrabajosRealizados{
	width: 130px;
	height: 130px;
	border: 2px solid #FFFFFF;
	float: left;
	margin-left: 5px;
	margin-bottom:  5px;
	border-radius: 5px;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * -------------------------------------- INICIO - NUESTROS CLIENTES --------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#nuestrosClientes #items{
	width: 90%;
	margin: auto;
}

#nuestrosClientes{
	display: inline-block;
	width: 100%;
}

#nuestrosClientes article{
	margin-top: 15px; 
}

#nuestrosClientes article h1{
	
	padding: 5px 0px 5px 30px;
	color: #333;
	background-color: #9c0;
	border-radius: 5px;
}

#nuestrosClientes article .itemNuestrosClientes{
	width: 130px;
	height: 130px;
	border: 2px solid #FFFFFF;
	float: left;
	margin-left: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
}


/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- SERVICIOS  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#servicios{
	width: 100%;
	display: inline-block;
}

#servicios article{
	width: 80%;
	margin: auto;
	padding: 20px;
	background-color: rgba(51,51,51,0.8);
	margin-bottom: 20px;
}

#servicios article hgroup h1{
	color:#CCCCCC;
	border-bottom: 5px solid #9c0;
}


#servicios article footer a p: hover{
	color: #99CC00;
}

#servicios #informacion #imagenInformacion{
	width: 100px;
	height: 100px;
	border: 1px solid #FFFFFF;
	float: left;
	position: absolute;
}

#servicios #informacion #textoInformacion{
	color:#CCCCCC;
	width: 75%;
	margin-left: 120px;
	text-align: justify;
	height: 140px;
	overflow: hidden;
}

#servicios article section #imagenes{
	width: 100%;
	border: 1px solid #FFFFFF;
	margin-bottom: 10px;
	display: inline-block;
}

#servicios article section #imagenes .itemImagenes{
	width: 80px;
	height: 80px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
	border: 1px solid green;
}

#servicios article footer #verMas{
	text-align: right;
}

#servicios article footer #verMas a{
	color:#CCCCCC;
	text-decoration: none;
}

#servicios article footer #verMas a:hover{
	color: #99CC00;
}


/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- PRODUCTOS  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#productos{
	width: 100%;
	display: inline-block;
}

#productos article{
	width: 40%;
	margin: 20px;
	padding: 20px;
	background-color: rgba(51,51,51,0.8);
	margin-bottom: 20px;
	float: left;
}

#productos article hgroup h1{
	color:#CCCCCC;
	border-bottom: 5px solid #9c0;
}


#productos article footer a p: hover{
	color: #99CC00;
}

#productos #informacion #imagenInformacion{
	width: 100px;
	height: 100px;
	border: 1px solid #FFFFFF;
	float: left;
	position: absolute;
}

#productos #informacion #textoInformacion{
	color:#CCCCCC;
	width: 50%;
	margin-left: 120px;
	text-align: justify;
	height: 120px;
	overflow: hidden;
}

#productos article section #imagenes{
	width: 100%;
	border: 1px solid #FFFFFF;
	margin-bottom: 10px;
	display: inline-block;
}

#productos article section #imagenes .itemImagenes{
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	float: left;
	border: 1px solid green;
}

#productos article footer #verMas{
	text-align: right;
}

#productos article footer #verMas a{
	color:#CCCCCC;
	text-decoration: none;
}

#productos article footer #verMas a:hover{
	color: #99CC00;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- LOGIN - ADMINISTRADOR  ------------------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#login{
	width: 100%;
}

#login article{
	width: 70%;
	margin: 40px auto 40px auto;
	background-color: rgba(51,51,51,0.8);
	padding: 10px;
	
}
#login article header h1{
	color: #99CC00;
	font-weight: bold;	
	text-align: center;
	padding: 20px;
	font-size: 30;
}

.etiqueta
{
   float: left;
   width: 25%;
   margin: 5px;
   color: #CCCCCC; 
   display: block;
   padding: 15px 5px 5px 30px;
   font-size: 20;
}

.componente{
   float: left;
   width: 60%;
   margin: 5px;
   display: block;
}

.textfield
{
	font-size: 18;
    display: block;
    width: 90%;
    height: 40px;
    padding: 5px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    margin: 5px;
}

.textField:focus
{
   box-shadow: 0px 1px 5px #9c0  inset;
   -webkit-box-shadow: 0px 1px 5px #9c0  inset;
   -moz-box-shadow: 4px 4px 5px #9c0  inset;
   outline: 0 none;
}

.textArea
{
   display: block;
   border: 1px solid #DEDEDE;
   border-radius: 5px;
   width: 90%;
   padding: 5px;
   color: #666;
}

.textArea:focus
{
   box-shadow: 0px 1px 5px #0CF  inset;
   -webkit-box-shadow: 0px 1px 5px #0CF inset;
   -moz-box-shadow: 4px 4px 5px #0CF  inset;
   outline: 0 none;
}

input[type="submit"]
{
 	clear: both;   
    margin: 20px auto 20px auto;
    padding: 10px 40px 10px 40px;
    background-color: #0099ff;
    background-image: -webkit-linear-gradient(#6c0,#9c0);
    background-image: -moz-linear-gradient(#6c0,#9c0);
    background-image: linear-gradient(#6c0,#9c0);
    -moz-box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    -webkit-box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    box-shadow: 1px 5px 8px hsla(0, 0%, 0%, .5);
    color: #222222;
    font-weight: bold;
    font-size: 16;
    cursor: pointer;
    border:0;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- PERFIL - ADMINISTRADOR  ------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#administrador{
	width: 100%;
}

#administrador {
	width: 100%;
}

#administrador article{
	width: 70%;
	margin: 20px auto 20px auto;
	padding: 20px;
	background-color: rgba(51,51,51,0.8);
}

#administrador article header h2{
	color: #99CC00;
	text-align: center;
}

/*
 * ------------------------------------------------------------------------------------------------------------
 * 
 * ----------------------------------------- AGREGAR USUARIO - ADMINISTRADOR  ------------------------------------------
 * 
 * ------------------------------------------------------------------------------------------------------------
 */

#gestionar {
	width: 100%;
}

#gestionar article{
	width: 80%;
	margin: 20px auto 20px auto;
	background-color: rgba(51,51,51,0.8);
}

#gestionar article header h2{
	color:#99CC00;
	font-weight: bold;
	text-align: center;
	margin: 10px;
	padding: 20px;
}

#gestionar article section{
	width: 100%;
	display: inline-block;
}

#gestionar article #formulario_agregar_usuario{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_trabajo{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_producto{
	width: 90%;
	margin: auto;
}

#gestionar article #formulario_agregar_servicio{
	width: 90%;
	margin: auto;
}

